{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
  {{ if eq .Section "blog" }}
    <h1 class="post-title">{{ .Title }}</h1>
    
    <div class="article-meta">
      {{ if not .PublishDate.IsZero }}
        {{ .Date.Format "January 2, 2006" }} · 
      {{ end }}
      {{ .ReadingTime }} mins · 
      {{ countwords .Content }} words
      
      {{ if .Params.tags }}
      <div class="post-tags">
        {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}/" class="post-tag">#{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    
    {{ if and (in .Params.tags "conference") .Params.location }}
      {{ if and .Params.location.name .Params.location.coords }}
        <div class="conference-location">
          <div class="map-caption">
            <p>Conference location: <strong>{{ .Params.location.name }}</strong>
            <a href="https://www.google.com/maps?q={{ .Params.location.coords }}" target="_blank" rel="noopener noreferrer">(View on Google Maps)</a></p>
          </div>
        </div>
      {{ end }}
    {{ end }}
  {{ else if eq .Section "news" }}
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="article-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
  {{ end }}
  
  <div class="prose">
    {{ .Content }}
  </div>
{{ end }}
