{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
  {{ .Content }}
  
  <h2>Latest news</h2>
  <div class="post-list">
  {{ range first 3 (where .Site.RegularPages "Section" "news") }}
    {{ if not .Draft }}
    <article class="post-item">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div class="article-meta">
        {{ .Date.Format "January 2, 2006" }}
      </div>
    </article>
    {{ end }}
  {{ end }}
  </div>
  <p><a href="/news/">See more</a></p>
  
  <h2>Latest posts</h2>
  <div class="post-list">
  {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
    {{ if not .Draft }}
    <article class="post-item">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <div class="article-meta">
        {{ .Date.Format "January 2, 2006" }} · 
        {{ math.Round (div (countwords .Content) 200.0) }} mins
      </div>
    </article>
    {{ end }}
  {{ end }}
  </div>
{{ end }} 