<link rel="stylesheet" href="/css/syntax-tree.css?v={{ now.Unix }}">
<script defer src="https://d3js.org/d3.v7.min.js"></script>
<script defer src="/js/syntax-tree.js?v={{ now.Unix }}"></script>

<div class="syntax-tree-wrapper">
  {{ $title := .Get "title" }}
  {{ $subtitle := .Get "subtitle" }}
  
  {{ if $title }}
    <h2 class="syntax-tree-title">{{ $title }}</h2>
  {{ end }}
  
  {{ if $subtitle }}
    <p class="syntax-tree-subtitle">{{ $subtitle }}</p>
  {{ end }}
  
  <div id="syntax-tree-container"></div>
</div> 